[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "public"]
	path = public
	url = https://github.com/rechodeer21/rechodeer21.github.io.git
	branch = master
